<div id="content" class="flex-row">
  <div id="form-container" class="flex-column transparency">

<form method='POST' class="flex-column" [formGroup]="loginFormGroup" (ngSubmit)="login()">
          <mat-form-field class="input-fields">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginFormGroup.controls['username'].touched && loginFormGroup.controls['username'].invalid">
              <span *ngIf="loginFormGroup.controls['username'].errors!['required']">Campo richiesto.</span>
            </mat-error>
          </mat-form-field>
        <input name="csrfmiddlewaretoken" style="display: none;"/>
          <mat-form-field class="input-fields">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
              <span *ngIf="loginFormGroup.controls['password'].errors!['required']">Campo richiesto.</span>
            </mat-error>
          </mat-form-field>

          <button type="submit" class="login-button">
            Login
          </button>
        </form>
  </div>
</div>
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
console.log(csrftoken);
</script>