<nav id="dashboard">
    <a [routerLink]="['publications']" class="dashboard-link">Pubblicazioni</a>
    <a [routerLink]="['ssd']" class="dashboard-link">SSD</a>
    <a [routerLink]="['author']" class="dashboard-link">Autori</a>
    <a href="https://5.75.147.58/api/insert-professor/" class="dashboard-link">Inserisci professori</a>
</nav>
<div id="table-container">
    <table mat-table #table *ngIf="publications.length>0" [dataSource]="publications" class="mat-elevation-z8" id="publication-table">

        <!-- Publication name Column -->
        <ng-container matColumnDef="eid">
            <th mat-header-cell *matHeaderCellDef> EID </th>
            <td mat-cell *matCellDef="let publication"> {{publication.eid}} </td>
        </ng-container>

        <!-- Authors name Column -->
        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef> Autori </th>
            <td mat-cell *matCellDef="let publication">
                {{publication.authors}}
                <!-- <span *ngFor="let author of publication.authors">
                    {{publication.authors}} 
                </span> -->
            </td>
        </ng-container>

        <!-- Publication date name Column -->
        <ng-container matColumnDef="publication_date">
            <th mat-header-cell *matHeaderCellDef> Data di pubblicazione </th>
            <td mat-cell *matCellDef="let publication"> {{publication.eid__publication_date}} </td>
        </ng-container>

        <!-- Title date name Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Titolo </th>
            <td mat-cell *matCellDef="let publication"> {{publication.eid__title}} </td>
        </ng-container>

        <!-- Magazine name Column -->
        <ng-container matColumnDef="magazine">
            <th mat-header-cell *matHeaderCellDef> Rivista </th>
            <td mat-cell *matCellDef="let publication"> {{publication.eid__magazine}} </td>
        </ng-container>

        <!-- Volume name Column -->
        <ng-container matColumnDef="volume">
            <th mat-header-cell *matHeaderCellDef> Volume </th>
            <td mat-cell *matCellDef="let publication"> {{publication.eid__volume}} </td>
        </ng-container>

        <!-- Page range name Column -->
        <ng-container matColumnDef="page_range">
            <th mat-header-cell *matHeaderCellDef> Pagine </th>
            <td mat-cell *matCellDef="let publication"> {{publication.eid__page_range}} </td>
        </ng-container>

        <!-- DOI date name Column -->
        <ng-container matColumnDef="doi">
            <th mat-header-cell *matHeaderCellDef> DOI </th>
            <td mat-cell *matCellDef="let publication">
                <a [href]="publication.eid__doi" target="_blank">DOI</a>
            </td>
        </ng-container>

        <!-- Download date name Column -->
        <ng-container matColumnDef="download_date">
            <th mat-header-cell *matHeaderCellDef> DOI </th>
            <td mat-cell *matCellDef="let publication">{{publication.eid__download_date}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>