<div id="table-container">
    <table mat-table [dataSource]="publications" class="mat-elevation-z8" id="publication-table">

        <!-- Publication name Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let publication"> {{publication.title}} </td>
        </ng-container>

        <!-- Authors name Column -->
        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef> Autori </th>
            <td mat-cell *matCellDef="let publication">
                <span *ngFor="let author of publication.authors">
                    {{publication.authors}} 
                </span>
            </td>
        </ng-container>

        <!-- Publication date name Column -->
        <ng-container matColumnDef="publicationDate">
            <th mat-header-cell *matHeaderCellDef> Data di pubblicazione </th>
            <td mat-cell *matCellDef="let publication"> {{publication.publicationDate}} </td>
        </ng-container>

        <!-- DOI date name Column -->
        <ng-container matColumnDef="doi">
            <th mat-header-cell *matHeaderCellDef> DOI </th>
            <td mat-cell *matCellDef="let publication">
                <a [href]="publication.doi" target="_blank">DOI</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>