<div id="table-container">
    <table mat-table [dataSource]="ssds" class="mat-elevation-z8" id="ssd-table">

        <!-- Publication name Column -->
        <ng-container matColumnDef="ssd">
            <th mat-header-cell *matHeaderCellDef> SSD </th>
            <td mat-cell *matCellDef="let ssd"> {{ssd.ssd}} </td>
        </ng-container>

        <!-- Authors name Column -->
        <ng-container matColumnDef="num_professors">
            <th mat-header-cell *matHeaderCellDef> Numero Professori </th>
            <td mat-cell *matCellDef="let ssd">
                {{ssd.num_professors}}
                <!-- <span *ngFor="let author of ssd.authors">
                    {{ssd.authors}} 
                </span> -->
            </td>
        </ng-container>

        <!-- Publication date name Column -->
        <ng-container matColumnDef="scopus_id">
            <th mat-header-cell *matHeaderCellDef> Numero Pubblicazioni </th>
            <td mat-cell *matCellDef="let ssd"> {{ssd.ssdDate}} 
                {ssd.scopus_id}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>