/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

.transparency {
    background-color: transparent;
}

.dashboard {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 15px;
    background-color: white;
}

.dashboard-link {
    text-decoration: none;
    padding: 15px;
}

.dashboard-link:hover {
    cursor: pointer;
}
